.people-panel__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: var(--vkui--color_background_content);
}

.people-panel__header-search {
  padding-right: 0px !important;
}

.people-panel__header-buttons {
  margin-left: auto;
  margin-right: 12px;
  display: flex;
  flex-direction: row;
}

.people-panel__header-buttons-unfilter-svg,
.people-panel__header-buttons-filter-svg,
.people-panel__header-buttons-expand-svg,
.people-panel__header-buttons-collapse-svg {
  filter: invert(94%) sepia(5%) saturate(115%) hue-rotate(177deg) brightness(99%) contrast(89%);
  height: 30px;
  width: 30px;
  padding: 9px;
}
