.modal-people-filters__sort-radios {
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

.modal-people-filters__filter-custom-after {
  color: var(--vkui--color_icon_tertiary) !important;
}

.modal-people-filters__filter-custom-before {
  color: var(--vkui--color_icon_tertiary) !important;
}

.modal-people-filters__other-filters-header {
  padding-right: var(--vkui--size_base_padding_horizontal--regular);
  padding-left: var(--vkui--size_base_padding_horizontal--regular);
  padding-bottom: 8px;
  padding-top: var(--vkui--size_form_item_padding_vertical--regular);
}

.modal-filter-custom__radio-cell {
  display: flex;
  flex-direction: row;
  align-items: center;
}
