
.view-loader__content {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  gap: 20px;
  height: 100%;
  width: 100%;
  background: var(--vkui--color_background_content);
}
.view-loader__content-text {
  text-align: center;
  margin: 0px auto;
}

.view-loader__content-spinner {
  margin: 0px auto;
  /* width: 20vh; */
  max-width: 40vh;
  max-height: 40vh;
  height: 20vh;
  padding: 5px;
}

.view-loader__header {
  border-bottom: 1px var(--vkui--color_separator_primary) solid;
}


.fade-in {
  transition: opacity 1.5s ease;
}

.fade-out {
  opacity: 0;
  transition: opacity 1.5s ease;
}
