.view-notloaded__content {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  gap: 20px;
  height: 100%;
  width: 100%;
  background: var(--vkui--color_background_content);
}
.view-notloaded__content-text {
  text-align: center;
  margin: 0px auto;
}
.view-notloaded__image {
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
}
